body{
    background-color: #C2E7DA;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav img{
    width: 100px;
}
nav a{
    font-size: 19px;
    text-decoration: none;
    
}
.card{
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #86B1CC;
    font-family: "Rock Salt", cursive;
}
.card:hover{
    background-color: #30B68E ;
    transform: scale(1.05);
}
.card img{
    width: 100%;
}
.card-content{
    padding: 35px;
}
.card h1{
    justify-content: center;
    font-size: 25px;
    color: #86B1CC;
}
.card h2{
    font-size: 15px;
}
.targeta{
    display: flex;
    justify-content: center;
}
.card .footer{
    padding: 25px;
    justify-items: center;
}
.footer a{
    text-decoration: none;
}
.Art{
    justify-content: space-evenly;
}